# Fichiers de données volumineux
data/transactions*.csv
data/*.csv

# Environnements virtuels
.venv/
venv/
env/

# Fichiers temporaires
.~lock.*
*.tmp
*.temp

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
